include Views/components/likeButton/likeButton

mixin review({ avatar: path, name, date, text, like, liked })
  .review
    .review__head
      .review__avatar
        img(src=require(`Images/avatars/${path}`) alt="Фото")
      .review__head-text
        .review__name #{name}
        .review__date #{date}
    .review__content
      .review__like-container
        +likeButton({count: like, liked: liked})
      p.review__text #{text}
