include Views/components/button/button

mixin textField({ title, type = '', name, placeholder, required, pat, button = false })
  label.text-field
    if title
      span.text-field__title #{title}
    input.text-field__input(
      type=type 
      name=name
      placeholder=placeholder
      pattern=pat 
      required=required
    )
    if button
      .text-field__button-wrap
        +button({ type: 'submit', classes: 'button--inputSubmit'})

