include Views/components/button/button

mixin header( user = null )
  -
    const routes = [
      { text: 'О нас', active: true },
      { text: 'Услуги', active: false, dropdown: true },
      { text: 'Вакансии', active: false },
      { text: 'Новости', active: false },
      { text: 'Соглашения', active: false, dropdown: true},
    ]

  header.header
    .header__wrapper
      .header__content
        a(href='index.html').header__logo
          include Images/icons/logo-colored.svg
        nav.header__nav
          ul.header__list
            each route in routes
              li.header__list-item
                a.header__link(
                  href='#',
                  class=`${route.active ? "header__link--active" : ""} ${route.dropdown ? "header__link--dropping" : ""}`
                )
                  | #{route.text}
          if !user 
            .header__buttons
              +button({
                type: 'link',
                href: 'signIn.html',
                text: 'Войти',
                classes: 'button--bordered'
              })
              +button({
                type: 'link',
                href: 'registration.html',
                text: 'Зарегистрироваться',
                classes: 'button--entire'
              })
          else
            a(href='#').header__user
              | #{user.name}
        button(type='button', aria-label='menu').header__burger
          .header__burger-layout
