include Views/components/header/header
include Views/components/footer/footer

//- External variables
block variables

doctype html
html(lang='ru')
  head
    block meta
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
    
    link(rel='icon' href=require('Images/favicons/favicon.svg') type='image/svg+xml' sizes='any')

    title= title

    block style
      link(rel='stylesheet' href=require('Styles/base/main.scss'))
      link(rel='stylesheet' href=require('Views/components/header/header.scss'))
      link(rel='stylesheet' href=require('Views/components/footer/footer.scss'))

    block head
      script(src=require('Scripts/common.js') defer)

  body
    .bodyContainer
      +header()
      block content
      +footer()

    //- Page scripts
    block script
